<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
      </ion-buttons>
      <div class="logo-container">
        <img src="../../../assets/img/patitasPet-logo.png" alt="Logo" class="logo-header">
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h2 class="title">Vacunas</h2>
  
    <ion-text color="medium">
      <p>Aquí podrás registrar y ver las vacunas de tu mascota. 🩺</p>
    </ion-text>
  </ion-content>
  