/* Fondo general del menú */
.menu-content {
  --background: linear-gradient(to bottom right, #e6f4e9, #f9fff8);
}

/* Título del menú */
.menu-title {
  font-weight: bold;
  color: #2d572c;
  text-align: center;
}

/* Ítems del menú */
.menu-item {
  --background-hover: #d9ead3; /* Verde muy suave al pasar mouse */
  --color: #2d572c;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 8px;
  border-radius: 12px;
  margin: 6px;
}

/* Íconos del menú */
.menu-icon {
  font-size: 1.4rem;
  color: #4e734e;
}
