<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Mascotas</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="logo-container">
    <img src="../../assets/img/patitasPet-logo.png" alt="Logo" class="logo-header" />
  </div>

  <!-- Si no hay mascotas -->
  <div *ngIf="mascotas.length === 0" class="no-mascotas">
    <img src="assets/img/no-mascotas.png" alt="Sin mascotas" class="no-mascotas-img" />
    <h2>No tienes mascotas registradas</h2>
    <p>¡Agrega una para empezar! 🐾</p>
  </div>

  <!-- Lista de mascotas -->
  <ion-list *ngIf="mascotas.length > 0">
    <ion-card *ngFor="let mascota of mascotas; let i = index" class="mascota-card" (click)="verDetalleMascota(i)">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="mascota.foto || 'assets/img/avatar-mascota.png'" />
        </ion-avatar>
        <ion-label>
          <h2><strong>{{ mascota.nombre }}</strong></h2>
           <ion-icon name="paw-outline"></ion-icon> {{ mascota.especie }}          
          <p class="raza">{{ mascota.raza || 'Sin raza' }}</p>
          <div class="info-line">
            <ion-icon name="male" *ngIf="mascota.genero === 'Macho'" color="primary"></ion-icon>
            <ion-icon name="female" *ngIf="mascota.genero === 'Hembra'" color="danger"></ion-icon>
            {{ mascota.genero }}
            &nbsp;&nbsp;
           
            &nbsp;&nbsp;
            <ion-icon name="calendar-outline"></ion-icon> {{ calcularEdad(mascota.fechaNacimiento) }}
          </div>

          <!-- Vacunas registradas -->
          <div *ngIf="mascota.vacunaResumen.total > 0" class="vacuna-info">
            <ion-icon name="medkit-outline" color="success"></ion-icon>
            <span>
              {{ mascota.vacunaResumen.total }} vacuna{{ mascota.vacunaResumen.total > 1 ? 's' : '' }} registrad{{ mascota.vacunaResumen.total > 1 ? 'as' : 'a' }}.
              Última: <strong>{{ mascota.vacunaResumen.ultimaNombre }}</strong> el 
              {{ mascota.vacunaResumen.ultimaFecha | date:'dd/MM/yyyy' }}.
            </span>
          </div>


        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  

  <!-- Botón flotante para agregar mascota -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success" (click)="irAAgregarMascota()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
